// Color variables
$background-color: #fcfcfc;
$primary-color: #00d1af;
$primary-color-shade: #00d1af40;
$secondary-color: #567284;
$secondary-color-shade: #d8d8d8;
$blue-color: #51ccff;
$dark-blue-color: #2d76e3;
$dark-matter-color: #105988;
