@import './base/media';

.main {
  // width: 100%;
  // padding: 0 2rem;
  // @include for-tablet-landscape-up {
  //   padding: 0 8rem;
  //   margin-left: auto;
  // }
}
.separator {
  display: flex;
  width: 100%;
  & > img {
    overflow: hidden;
  }
}
