@import './base/media';
@import './base/variables';

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 2rem;

  @include for-tablet-portrait-up {
    padding-bottom: 9rem;
  }
  @include for-tablet-landscape-up {
    padding: 5rem 8rem;
  }
}

.header {
  display: flex;
  justify-content: center;

  & > h2 {
    font-weight: 300;
    background-color: $secondary-color-shade;
    padding: 0.8rem 2rem;
    border-radius: 2rem;
  }
}

.desc {
  font-size: 1.6rem;
  font-weight: 300;
  text-align: center;

  @include for-tablet-portrait-up {
    font-size: 1.8rem;
    width: 70%;
  }
  @include for-tablet-landscape-up {
    width: 60%;
  }
}

.accordionComponent {
  background-color: $secondary-color-shade;
  padding: 2rem;
}

.accordionSwitcher {
  display: flex;
  font-size: 1.6rem;
}

.accordionSwitcherItem {
}

.active {
  background-color: $primary-color-shade;
}
