@import './base/media';
@import './base/variables';

.tabContainer {
  min-height: 30rem;
  box-shadow: -1px 0px 5px 0px rgba(184, 184, 184, 1);
  border-radius: 0.4rem;
}

.tabHead {
  border-bottom: 1px solid black;
  display: flex;
  background-color: $primary-color-shade;
  display: flex;
  justify-content: center;
}

.tabBody {
  height: 100%;
  min-height: 30rem;
  background-color: $background-color;
}

.tab {
  padding: 1em;
  font-size: 1.6rem;
}
.active {
  background-color: $primary-color !important;
  color: red;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem;

  @include for-tablet-portrait-up {
    flex-direction: row;
    justify-content: space-evenly;
  }
}

.card {
  min-height: 36rem;
  width: 100%;
  margin: 1rem 0rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $primary-color;
  border-radius: 2rem;

  @include for-tablet-portrait-up {
    margin: 0 1rem;
    width: 60%;
  }
}

.cardHead {
  clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 0 80%);
  background-color: $dark-blue-color;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  min-height: 10rem;

  & > div:nth-child(odd) {
    background-color: $blue-color;
  }
}
