@import './base/media';

.trustee {
  background-color: #fff;
  padding: 1rem 2rem;
  text-align: center;

  @include for-tablet-portrait-up {
    padding-bottom: 9rem;
  }
  @include for-tablet-landscape-up {
    padding: 1rem 8rem;
  }
}

.header {
  margin-bottom: 2rem;
  font-size: 1.6rem;
}

.brands {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  overflow: hidden;

  & > img {
    height: 2rem;

    @include for-tablet-portrait-up {
      height: 4rem;
    }
  }
}
